a {
				text-decoration: none;
				color: #C9BB8C;
				font-family: "黑体";
				font-size: 4em;
				margin-left: 2em;
				display: inline-block;
				width: 25%;
				line-height: 2.2em;
			}
			
			embed {
				display: none;
			}
			
			* {
				margin: 0px auto;
				padding: 0px;
				text-decoration: none;
				list-style-type: none;
			}
			
			body {
				min-height: 1080px;
				width: 100%;
				height: 100%;
			}
			
			html {
				width: 100%;
				height: 100%;
			}
			
			.base {
				width: 100%;
				height: 100%;
			}
